/* #container{
    display: inline-grid;
    width: 90vw;
    grid-template-columns: repeat(5, 1fr);
}
#container > div {
    border:2px solid black;
    border-radius: 10%;
    padding: 10px; 
    width: 600px;
    margin-right: 1px; 
    height: 800px;
}
img{
    background-color: aqua;
    height: 450px;
    width: 450px;
    border-radius: 10%;
    margin: 20px; 

}
p{
    font-size: 40px;

}
.strike{
    text-decoration: line-through;
    color: black;
    font-size: 40px;
}
h3{
    font-size: 40px;
} */
#container {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px; /* small gap between cards */
}

#container > div {
    border: 10px solid black;
    border-radius: 10%;
    padding: 10px; 
    width: auto; 
    height: 1200px;
}

img {
    background-color: aqua;
    height: 650px;
    width: 850px;
    border-radius: 10%;
    margin: 0; 
    align-self: center; 
}

p {
    font-size: 80px;;
}

.strike {
    text-decoration: line-through;
    color: black;
    font-size: 80px;
}

h3 {
    font-size: 40px;
}
